@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');
@import '../src/assets/styles/color.css';

/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  color: var(--text-light) !important;
  background-color: var(--bg-blue) !important;
  padding-top: 70px;

}

/* Navbar styling */
.navbar-brand {
  color: var(--primary-color) !important;
  font-weight: 700;
}

.nav-link:hover,
.nav-link.active {
  color: var(--primary-color) !important;
}

/* Cards */
.card {
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}
